@import "tailwindcss";

@theme {
    --container-container: 1600px;
    --font-dm:"DM Sans", sans-serif;
    --spacing-w49: 49%;
    --color-primary:#767676;
    --color-secondary:#262626;
    --text-f39: 39px;
  }

  .slick-dots{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 150px;
  }
  .slick-dots ul li div{
    font-size: 16px;
    color: transparent;
    border-right: 3px solid white;
    padding-right: 12px;

  }
  .slick-dots ul .slick-active div{
    color: black;
    border-right: 3px solid black;
  }